.star-rating {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.star {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.star input[type='radio'] {
  display: none;
}

.star svg {
  transition: filter 0.2s ease, transform 0.2s ease;
}

.star svg:hover {
  transform: scale(1.2);
}

.star svg.active {
  filter: drop-shadow(0px 0px 10px #00FFFF) drop-shadow(0px 0px 5px black);
}

/* Adicionando estilo de foco */
.star:focus-within svg {
  transform: scale(1.2);
  outline: 2px solid #00FFFF; /* Destaque de foco */
}
